**/.env
Pipeline/llamat-3-chat/
Pipeline/llamat-2-chat/
Pipeline/llm/models/
Pipeline/mtp_CompExtractor_Without100_FlanT5Large_DirectMatch_AdditionalGpt4Data_run_2.pt/
Pipeline/mtp_CompExtractor_Without100_FlanT5Large_DirectMatch_run_2.pt/
Dhruvil_modelWTS/
Pipeline_Dhrvuil/models
Pipeline_Dhruvil/__pycache__